/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;/*añadimos el tipo de letra que usarar en toda la página en el selector universal*/
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
/*navegador superior*/
header {
  height: 110px;
  background-color: white;
  padding-right: 130px;
  position: fixed; /*usamos fixed para posicionar permanenetemente el header en la parte superior*/
  top: 0;
  right: 0;
  left: 0;
}
.top-menu {
  float: left;
  padding: 40px 0 0 200px; /*ubicamos el pequeño menú con ayuda de padding*/
  font-size: 18px;
}
.top-menu a {
  margin-right: 45px; /*separacion del lado derecho entre las opciones del menu*/
  cursor: pointer;/*aplicamos cursos:pinter para que al pasar el cursor por los elementos anchor, este tomer forma de pointer*/
}

figure {
  width: 80px;
  height: 80px;
  float: right; /*hacemos que el icono flote a la derecha opuesto al menu*/
}
.logo {
  max-width: 100%;
}
/*Primera seccion*/
.image {
  margin-top: 115px;
  position: relative; /*usamos relative para que los futuros elementos con absolute lo tomen como eje*/
  z-index: -1;/*al tener problemas con las superposciones de elementos con position:absolute o relative con el menu seuperior fijado, encontré esta propiedad que maneja el orden capas*/
}
.image-central {
  width: 100%;
  height: 630px;
}
/*posicionando los titulos sobre la imagen con absolute*/
.superior-title {
  position:absolute;
  top:100px;
  left: 490px;
  color: white;
}
.central-title {
  position: absolute;
  top:150px;
  left: 300px;
  color: white;
  font-size: 50px;
}
.bottom-text {
  position: absolute;
  top:270px;
  left: 390px;
  color: white;
  font-size: 18px;
}
/*añadimos estilos al boton*/
.button {
  background-color: rgb(46, 204, 113);
  width: 150px;
  height: 60px;
  display: block;
  position: absolute;
  top:400px;
  left: 600px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  border-radius: 3px;
}
/*segunda seccion*/
.services {
  width: 100%;
  height: 700px;
  background-color: rgb(241, 124, 114);
  z-index: -1; /*para que no se superponga al navegador fijado*/
  position: relative;/*para que los futuros elementos dentro de esta sección que usen absolute tomen como eje el contenedor padre*/
  padding-left:240px;
  overflow: auto;/*para que los elementos flotates no salgan del contenedor padre*/
}
/*ubicamos los textos de la segunda sección*/
.superior-subtitle {
  position:absolute;
  top:43px;
  left: 600px;
  color: white;
  font-size: 35px;
}
.services h4 {
  position:absolute;
  top:140px;
  left:295px;
  color: white;
  text-align: center;
  font-size: 18px;
}
/*acomodamos tres columnas flotantes a la izquierda en la sección*/
.column-services {
  width: 200px;
  float: left;
  padding-top: 310px;
  margin-right: 140px;
}
.column-services img {
  width: 200px;
  height: 200px;
}
.column-services h5,h6 {
  color: white;
  text-align: center;
}
.column-services h6 {
  line-height: 0;
  margin:20px;
}
/* ultima sección*/
.last-section {
  width:100%;
  height: 2700px;
  z-index: -1;
  position: relative;/*para que los futuros elemento que usen absolute tomen este contenedor como eje*/
}
/*posiscionando textos*/
.last-section h2 {
  font-size: 35px;
  position: absolute;
  top: 50px;
  left: 610px;
}
.last-section .work-text {
  position: absolute;
  top: 140px;
  left: 280px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-align: center;
}
/*posicionando la imagen central de la última sección*/
.work-image img {
  width: 1000px;
  height: 900px;
  position: absolute;
  top: 270px;
  left: 180px;
}
/*añadiendo estilos a la galería final de imagenes*/
.galery {
  width: 85%;
  overflow: auto;
  position: absolute;
  top: 1250px;
  margin-left: 150px;
}
.galery-image {
  /*le damos un tamaño fijo al contenedor de la imagen*/
  width: 300px;
  height: 300px;
  float: left;
  margin:0 73px 70px 0;
}
.galery-image img {
  max-width: 100%; /*la imagen se ajustara al tamaño de su contenedor*/
}
.cut {
  clear: left; /*para crear nuevas filas usamos clear: left en el cuarto y septimo elemnto para que no hayan  floats a su derecha y le obligue a bajar a la siguiente linea*/
}
.galery-image h4 {
  text-align: center;
}
footer {
  height: 70px;
  width: 100%;
  background-color: rgb(55, 59, 71);
  text-align: center;
  line-height: 70px;
  color: white;
}
